@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #313131;
  --background-rgb: #f8fafb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-rgb: #131313;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  transition: color 0.5s, background-color 0.5s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(113, 113, 113, 0.449);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(83, 170, 83, 0.833);
}

/* Custom */
.cust-alert {
  animation: show-alert 4s ease-in-out;
}

@keyframes show-alert {
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
