@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-rgb: rgb(227, 247, 227);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-rgb: #121212;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  transition: color .5s, background-color .5s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(113, 113, 113, 0.449);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(83, 170, 83, 0.833);
}
