.dashboard-default {
  min-height: 10rem;
  display: flex;
  align-items: center;
  padding-inline: var(--base-padding);
}

.cards-con {
  margin-top: 1rem;
  padding: var(--base-padding);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  padding: var(--base-padding);
  background: var(--base-background-lightish-color);
  border: purple;
  min-width: 100px;
  max-width: 300px;
  border-radius: 0.5rem;
  position: relative;
  transition: all 0.5s;
}

.card::after {
  content: "";
  position: absolute;
  top: -0.5%;
  left: -0.5%;
  width: 101%;
  height: 101%;
  border-radius: 0.5rem;
  background: linear-gradient(var(--base-accent-1-darker-color), var(--base-accent-2-darker-color));
  z-index: -1;
  transition: all 0.5s;
}

.card-head {
  font-size: 1.1rem;
  font-weight: 600;
}

.card-con {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat1-con {
  margin-top: 2rem;
}

.stat1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.stat1 > div {
  padding: var(--base-padding);
  border: 1px var(--base-background-lightish-color) solid;
  border-radius: 4px;
}
