:root {
  --base-background-color: #17181f;
  --base-background-darker-color: #0c0d10;
  --base-background-lightish-color: #1f2029;
  --base-background-lightish-2-color: #383946;
  --base-foreground-color: #eeeff0;

  --base-accent-1-color: #6c72cb;
  --base-accent-2-color: #cb69c1;

  --base-accent-1-darker-color: #6168c6;
  --base-accent-2-darker-color: #bd58b3;

  --base-padding: 1rem;
}

body {
  background-color: var(--base-background-color);
  color: var(--base-foreground-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(to top, var(--base-accent-1-color), var(--base-accent-2-color));
}

.dash-clamper {
  position: relative;
  max-width: 1688px;
  margin-inline: auto;
  border-radius: .5rem;
  overflow: hidden;
}

.sidebar-container {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--base-background-lightish-color);
}


.dash-nav {
  background: var(--base-background-lightish-2-color);
}

.link-container p {
  margin-left: 2rem;
}

.dash-container {
  position: relative;
  min-height: 100vh;
}

.user-img {
  width: 80px;
  height: 80px;
  transition: all 0.5s;
  border-radius: 50%;
  margin-inline: auto;
  background: linear-gradient(45deg, var(--base-accent-1-color), var(--base-accent-2-color));
  background: -o-linear-gradient(45deg, var(--base-accent-1-color), var(--base-accent-2-color));
  background: -moz-linear-gradient(45deg, var(--base-accent-1-color), var(--base-accent-2-color));
  background: -webkit-linear-gradient(45deg, var(--base-accent-1-color), var(--base-accent-2-color));
}

.bottom-profile {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--base-background-lightish-2-color);
  padding: var(--base-padding);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-user-details-container {
  display: flex;
  align-items: center;
}

.mini-user-details-container div:nth-child(2) {
  margin-left: 0.5rem;
}

.mini-username {
  font-size: 0.8rem;
  font-weight: 600;
}

.mini-status {
  font-size: 0.9rem;
  font-weight: 300;
}

.mini-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, var(--base-accent-1-color), var(--base-accent-2-color));
  background: -o-linear-gradient(45deg, var(--base-accent-1-color), var(--base-accent-2-color));
  background: -moz-linear-gradient(45deg, var(--base-accent-1-color), var(--base-accent-2-color));
  background: -webkit-linear-gradient(45deg, var(--base-accent-1-color), var(--base-accent-2-color));
}

.setting-icon:hover {
  cursor: pointer;
}

.bottom-container i {
  font-size: 1.2rem;
}

/* Main content */
/* .dash-main-content {
  padding: calc(var(--base-padding) * 4.5) 0;
} */

/* Dashboard Navbar */
.dashboard-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.202);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content h1 {
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-content > ul > li {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.nav-content > ul > li:hover {
  background: var(--base-background-lightish-2-color);
}

.nav-search-box > input {
  background: transparent !important;
  outline: none;
}
