.skeleton {
  opacity: .75;
  animation: skeleton-loading .5s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #ecf1f8;
  }
  100% {
    background-color: #777a7d;
  }
}
